@charset "utf-8";

body{
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.alineacion_contenido{
	align-items: start;
}

.altura{
	height: 100%;
}


.Menu_lateral{
	position: fixed;
	width: 20%;
	/*height: 110vh;*/
	margin-top: -4%;
	margin-left: -2%;
	padding-top: 300vh;
	padding-bottom: 300vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:#1A1A1D;
}

.Opciones_Menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-flow: column-reverse; /*Invierte el orden de los elementos dentro de un contenedor*/
}

.Menu{
	color: rgba(255,255,255,0.40);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 140%;
	margin-top: -10%;
	margin-bottom: -10%;
	text-decoration: none;
}
.Menu:hover{
	color: rgba(255,255,255,1.00);
}

.Foto{
	width: 50%;
	margin-bottom: 40%;/*20vh;*/
	margin-top: -510vh;
}

.Contenido{
	width: 80%;
	height: 600vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: auto; /*Hace que el contenido se vaya todo a la derecha*/
}

.Yo{
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	font-family: 'EB Garamond', serif;
}

#nombre{
	font-size: 350%;
	color: #C3073F;
}

#ocupacion{
	font-size: 200%;
	color: #4E4E50;
	margin-top:-5vh;
	margin-bottom: 5vh;
}

.Ocupacion2{
	font-size: 200%;
	margin: -0.5vh;
}

.Iconos{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 10vh;
}

.Icono{
	width: 50%;
}

.Icono:hover{
	transform: scale(1.1);
}

#manuel{
	width: 100%;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
}

#experiencia{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'EB Garamond', serif;
}

.Titulo{
	font-size: 350%;
	color: #000000;
	margin-top: 10vh;
	margin-bottom: 15vh;
}

.Titulo2{
	font-size: 350%;
	color: #000000;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.Experiencia{
	width: 95%;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

.Texto{
	font-size: 200%;
}

.Fechas{
	font-size: 130%;
	margin-top: 1.5vh;
}

.Texto2{
	font-size: 130%;
}

.Texto3{
	font-size: 150%;
}

.Gris{
	color: #4E4E50;
}

.Rojo{
	color: #C3073F;
}

#educacion{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'EB Garamond', serif;
}

#skills{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	font-family: 'EB Garamond', serif;
}

.Icono2{
	width: 50%;
}

.Icono2:hover{
	transform: scale(1.1);
}

#intereses{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'EB Garamond', serif;
}

#intereses2{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: 'EB Garamond', serif;
}

#intereses3{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#intereses4{
	width: 100%;
}

#publicaciones{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'EB Garamond', serif;
}

.links{
	text-decoration: none;
}

@media (max-width: 1230px) {
	.Menu{
		font-size: 120%;
	}
	
	.Titulo{
		font-size: 330%;
	}

	.Titulo2{
		font-size: 330%;
	}
	
	.Texto{
		font-size: 180%;
	}

	.Fechas{
		font-size: 110%;
	}

	.Texto2{
		font-size: 110%;
	}

	.Texto3{
		font-size: 130%;
	}
	
	#nombre{
		font-size: 330%;
	}

	#ocupacion{
		font-size: 180%;
	}

	.Ocupacion2{
		font-size: 180%;
	}
}

@media (max-width: 1100px) {
	.Menu{
		font-size: 100%;
	}
	
	.Titulo{
		font-size: 310%;
	}

	.Titulo2{
		font-size: 310%;
	}
	
	.Texto{
		font-size: 160%;
	}

	.Fechas{
		font-size: 90%;
	}

	.Texto2{
		font-size: 90%;
	}

	.Texto3{
		font-size: 110%;
	}
	
	#nombre{
		font-size: 310%;
	}

	#ocupacion{
		font-size: 160%;
	}

	.Ocupacion2{
		font-size: 160%;
	}
}


@media (max-width: 980px) {
	body{
    	flex-direction: column;
	}
	
	.Menu_lateral{
		position: fixed;
		width: 100%;
		padding-top: 5vh;
		padding-bottom: 5vh;
		margin-top: -2vh;
		margin-bottom: 2vh;
		align-content: center;
		justify-content: center;
	}
	
	.Opciones_Menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.Foto{
		display: none;
	}
	
	.Contenido{
		margin: 0 auto;
		width: 95%;
	}
	
	.Menu{
		font-size: 100%;
		margin: 0 auto;
	}
	
	.Titulo{
		font-size: 320%;
		margin-top: 18vh;
	}

	.Titulo2{
		font-size: 320%;
		margin-top: 13vh;
	}
	
	.Texto{
		font-size: 170%;
	}

	.Fechas{
		font-size: 100%;
	}

	.Texto2{
		font-size: 100%;
	}

	.Texto3{
		font-size: 120%;
	}
	
	#nombre{
		font-size: 330%;
		margin-top: 13vh;
	}

	#ocupacion{
		font-size: 180%;
	}

	.Ocupacion2{
		font-size: 180%;
	}
}

@media (max-width: 880px) {
	body{
    	flex-direction: column;
	}
	
	.Menu_lateral{
		position: fixed;
		width: 100%;
		padding-top: 5vh;
		padding-bottom: 5vh;
		margin-top: -2vh;
		margin-bottom: 2vh;
		align-content: center;
		justify-content: center;
	}
	
	.Opciones_Menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.Foto{
		display: none;
	}
	
	.Contenido{
		margin: 0 auto;
		width: 95%;
	}
	
	.Menu{
		font-size: 90%;
		margin: 0 auto;
	}
	
	.Titulo{
		font-size: 310%;
		margin-top: 18vh;
	}

	.Titulo2{
		font-size: 310%;
		margin-top: 13vh;
	}
	
	.Texto{
		font-size: 160%;
	}

	.Fechas{
		font-size: 90%;
	}

	.Texto2{
		font-size: 90%;
	}

	.Texto3{
		font-size: 110%;
	}
	
	#nombre{
		font-size: 320%;
		margin-top: 13vh;
	}

	#ocupacion{
		font-size: 170%;
	}

	.Ocupacion2{
		font-size: 170%;
	}
}

@media (max-width: 830px) {
	body{
    	flex-direction: column;
	}
	
	.Menu_lateral{
		position: fixed;
		width: 100%;
		padding-top: 5vh;
		padding-bottom: 5vh;
		margin-top: -2vh;
		margin-bottom: 2vh;
		align-content: center;
		justify-content: center;
	}
	
	.Opciones_Menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.Foto{
		display: none;
	}
	
	.Contenido{
		margin: 0 auto;
		width: 95%;
	}
	
	.Menu{
		font-size: 90%;
		margin: 0 auto;
	}
	
	.Titulo{
		font-size: 300%;
		margin-top: 18vh;
	}

	.Titulo2{
		font-size: 300%;
		margin-top: 13vh;
	}
	
	.Texto{
		font-size: 150%;
	}

	.Fechas{
		font-size: 80%;
	}

	.Texto2{
		font-size: 80%;
	}

	.Texto3{
		font-size: 100%;
	}
	
	#nombre{
		font-size: 310%;
		margin-top: 13vh;
	}

	#ocupacion{
		font-size: 160%;
	}

	.Ocupacion2{
		font-size: 160%;
	}
}

@media (max-width: 750px) {
	body{
    	flex-direction: column;
	}
	
	.Menu_lateral{
		position: fixed;
		width: 100%;
		padding-top: 5vh;
		padding-bottom: 5vh;
		margin-top: -2vh;
		margin-bottom: 2vh;
		align-content: center;
		justify-content: center;
	}
	
	.Opciones_Menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.Foto{
		display: none;
	}
	
	.Contenido{
		margin: 0 auto;
		width: 95%;
	}
	
	.Menu{
		font-size: 80%;
		margin: 0 auto;
	}
	
	.Titulo{
		font-size: 290%;
		margin-top: 18vh;
	}

	.Titulo2{
		font-size: 290%;
		margin-top: 13vh;
	}
	
	.Texto{
		font-size: 140%;
	}

	.Fechas{
		font-size: 70%;
	}

	.Texto2{
		font-size: 70%;
	}

	.Texto3{
		font-size: 90%;
	}
	
	#nombre{
		font-size: 300%;
		margin-top: 13vh;
	}

	#ocupacion{
		font-size: 150%;
	}

	.Ocupacion2{
		font-size: 150%;
	}
}